* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f9;
  line-height: 1.5rem;
}
.section {
  padding: 1.2rem;
  background-color: #fff;
}
.section-title {
  text-align: center;
  text-transform: capitalize;
}
.title-underline {
  height: 5px;
  width: 150px;
  background-color: rgba(0, 60, 255, 0.856);
  margin: 20px auto;
}

.section-center {
  width: 90vh;
  max-width: 1170px;
  margin: 0 auto;
}
